# Removed .npmignore as this is no longer an npm library
# Added exclusions for GitHub project
.vscode/
node_modules/
.env
.DS_Store
coverage/
*.log
dist/
exportedData.csv
exportedData.json
package-lock.json
Publishing/
tests/
