# Exclude unnecessary files from the published package
.env
Publishing/
tests/
.vscode/
*.log
.gitignore
.eslintrc.json
eslint.config.js
Ardoq-swagger-api.json
CONTRIBUTING.md
package-lock.json
exportedData.csv
exportedData.json
